body {
    padding: 20px;
  }
  .loader {
    display: none;
  }
  #user-info {
    display: none;
    align-items: center;
  }
  #user-image {
    border-radius: 50%;
    margin-right: 20px;
  }
  #user-details {
    display: flex;
    flex-direction: column;
  }
  .repo-box {
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
  }
  .repo-box h3 {
    margin-bottom: 5px;
  }
  .repo-tags {
    background-color: #b3e0f2;
    color: #333;
    padding: 5px;
    border-radius: 5px;
  }